* {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
header {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  .logo {
    width: 50px;
    margin-left: 50px;
    img {
      transition: 0.3s;
      cursor: pointer;
      filter: invert(100%);
      &:hover {
        scale: 1.2;
      }
    }
  }
  .nav_top {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    ul {
      display: flex;
      align-items: center;
      width: 40%;
      list-style-type: none;
      justify-content: space-between;
      margin-right: 15%;
    }
    .menu {
      margin-right: 30px;
      img {
        background-color: #fff;
        border-radius: 100%;
        cursor: pointer;
      }
    }
  }
}

li {
  font-size: 20px;
  cursor: pointer;
  align-items: center;
  box-sizing: border-box;
  transition: 0.3s;
  border-bottom: 0;
  .link {
    font-weight: 300;
    text-transform: uppercase;
    box-sizing: border-box;
    transition: 0.3s;
    border-bottom: 0;
    text-decoration: none;
    color: #ffc000;
    transition: .5s;
    &:hover {
      font-weight: 400;
      border: none;
      padding-bottom: 6px;
      color: #ffe000;
      border-bottom: 3px solid #ffe000;
      box-sizing: border-box;
    }
  }
}
