.footer {
  position: relative;
  margin-top: 60px;
  padding: 30px;
  text-align: center;
  width: 100%;
  height: 250px;
  background-color: #393939;
  transition: all 1s;
}
.footer_active {
  position: relative;
  margin-top: 60px;
  padding: 30px;
  height: 250px;
  text-align: center;
  width: 100%;
  height: 250px;
  background-color: #393939;
}
.top {
  height: 25px;
  margin-bottom: 30px;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 20px 0px 0px 10px;
  display: flex;
}
img {
  transition: all 1s;
}
hr {
  border: none;
  transition: all 1s;
  height: 10px;
  width: 0%;
  border-radius: 15px;
  margin: 10px;
  background-color: #fff;
  opacity: 0;
}
.hr_active {
  opacity: 1;
  width: 50%;
  background-color: #ffd600;
}

span {
  color: #ffd600;
  font-weight: 900;
  font-size: 35px;
}
.span_active{
  opacity: 0;
}
.active {
  margin-top: 10px;
}
.logo {
  cursor: pointer;
  width: 40px;
  transform: rotate(-40deg);
}
.logo_active {
  cursor: pointer;
  transform: rotate(180deg);
  width: 50px;
}
.nav_top {
  position: absolute;
  left: 41.5%;
  ul {
    opacity: 0;
    padding: 5px;
    display: flex;
    list-style-type: none;
  }
  .ul_active{
    opacity: 1;
  }
}
li {
  padding: 3px;
  cursor: pointer;
  align-items: center;
  box-sizing: border-box;
  transition: 0.3s;
  border-bottom: 0;
  &:hover {
    font-weight: 600;
    border: none;
    padding-bottom: 0px;
    color: #ffe000;
    border-bottom: 3px solid #ffe000;
    box-sizing: border-box;
  }
}
li img {
  width: 40px;
}


.body {
  transition: all 1s;
  left: 45%;
  width: 10%;
  background-color: #ffc000;
}
.bolder {
  position: absolute;
  opacity: 1;
  top: 60%;
  left: 48.5%;
  width: 50px;
}
.bolder_active {
  position: absolute;
  opacity: 0;
  left: 48.5%;
  top: 60%;
  width: 50px;
}
.weight {
  opacity: 1;
  position: absolute;
  width: 100px;
  left: 46.6%;
  top: 60%;
}
.weight_active {
  opacity: 0;
  position: absolute;
  width: 90px;
  left: 47%;
  top: 60%;
}
